.env
/bootstrap/cache/*
/storage/*
/storage/*.key
/node_modules
/public/css
/public/img
/public/js
/public/webfonts
/vendor
/.idea
/.vscode
/.vagrant
*.komodoproject
/nbproject
/.Trash-1000
Homestead.json
Homestead.yaml
*.log
.editorconfig
cclear*
.gitattributes
