.env
/bootstrap/cache/config.php
/storage/*.key
/node_modules
/public
/vendor
/.idea
/.vscode
/.vagrant
*.komodoproject
/nbproject
/.Trash-1000*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
cclear*
