/.idea
/.vscode
/.vagrant
/.Trash-1000
/bootstrap/cache/*
/nbproject
/node_modules
/public/css
/public/img
/public/js
/public/webfonts
/storage/*
/storage/*.key
/vendor
.editorconfig
.env
.gitattributes
*.komodoproject
*.log
cclear*
Homestead.json
Homestead.yaml
sitemap.xml